<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title><%=title%></title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="description" content="Apps by paqman." />
        <meta name="viewport" content="width=device-width, initial-scale=1.2" />
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>
        <h1><%=title%></h1>
        <p>Liste des apps:</p>
        <ul>
            <li>
                 <a href="/goeasy/index.html">Vas-y mollo</a> avec les refills!</p>
            </li>
        </ul>
    </body>
</html>
